.nav-link:hover {
  color: #0d6efd !important;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #0d6efd !important;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu {
  min-width: 160px;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.transition {
  transition: all 0.3s ease-in-out;
}



/* .dropdown-menu.show {
  animation: fadeInDropdown 0.3s ease-in-out;
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */